.send-button {
  background-color: #198754;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 1rem;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
.chat-input {
  padding: 12px 15px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  flex: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 50px;
}

.clear-button {
  background-color: #ddd;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 1rem;
  color: black;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}
